<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Weather map</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/leaflet.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/leaflet.groupedlayercontrol.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"/>

    <script src="{{ url_for('static', filename='js/libs/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/jquery-core.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/leaflet.groupedlayercontrol.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom_markers.js') }}"></script>

</head>
<body>
<div id="map" style="width: 99%; height: 99%; position: absolute"></div>
<script type="text/javascript">
    var natural_hazard_catageroies = {{ all_categories|safe }};


    var onEachFeature = function (feature, layer) {
        var customPopup = feature.properties.name + "<br/><img src='http://joshuafrazier.info/images/maptime.gif'"
        var customOptions = {
        'maxWidth': '500',
        'className' : 'custom'
        },
        innerText = "<strong>" + feature.properties.name + "</strong>";
        layer.bindPopup(
            innerText, options=customOptions
        );
    };

    var natural_hazard_json_layers = function (){
        var layers = {};

        for (var key in natural_hazard_catageroies) {
            layers[key] =  L.geoJSON(natural_hazard_catageroies[key], {
                pointToLayer: function (feature, latlng) {
                        return L.marker(latlng, {icon: markers_icons[key]});
                    },
                    onEachFeature: onEachFeature
                }).bindPopup(function (layer) {
                    return layer.feature.properties.name;
                })
        }
        return layers
    }();


    var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        osmAttribution =
            'Map data <a target="_blank" href="http://www.openstreetmap.org">OpenStreetMap.org</a> contributors, ' +
            '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
        osmLayer = new L.TileLayer(osmUrl, {
            maxZoom: 18,
            transparent: true,
            attribution: osmAttribution
        }),
        baseMaps = {
            "OpenStreetMap": osmLayer
        },

        fires_viirs_24 = L.tileLayer.wms("https://firms.modaps.eosdis.nasa.gov/wms/?", {
            layers: 'fires_viirs_24',
            format: 'image/png',
            transparent: true,
            attribution: "'NASA FIRMS WMS Service'"
        }),

        fires_viirs_48 = L.tileLayer.wms("https://firms.modaps.eosdis.nasa.gov/wms/?", {
            layers: 'fires_viirs_48',
            format: 'image/png',
            transparent: true,
            attribution: "'NASA FIRMS WMS Service'"
        }),

        fires_viirs_72 = L.tileLayer.wms("https://firms.modaps.eosdis.nasa.gov/wms/?", {
            layers: 'fires_viirs_72',
            format: 'image/png',
            transparent: true,
            attribution: "'NASA FIRMS WMS Service'"
        }),

        fires_viirs_7 = L.tileLayer.wms("https://firms.modaps.eosdis.nasa.gov/wms/?", {
            layers: 'fires_viirs_7',
            format: 'image/png',
            transparent: true,
            attribution: "'NASA FIRMS WMS Service'"
        }),
        groupedOverlays = {
            "VIIRS Fire/Hotspot": {
                "Fire Radar last 24 hours": fires_viirs_24,
                "Fire Radar last 48 hours": fires_viirs_48,
                "Fire Radar last 72 hours": fires_viirs_72,
                "Fire Radar last 7 days": fires_viirs_7,
            },
            "Natural Hazard categories": natural_hazard_json_layers
        },
        map = new L.Map('map', {
            center: new L.LatLng(40.7, -73.9),
            zoom: 7,
            layers: [osmLayer]
        });
    map.addControl(L.control.groupedLayers(baseMaps, groupedOverlays));




    // generate legend
    var legend = L.control({position: 'bottomleft'});
    legend.onAdd = function (map) {

        var div = L.DomUtil.create('div', 'leaflet-control-layers leaflet-control info legend'),
            labels = ['<strong>Categories</strong>'],
            categories = Object.keys(natural_hazard_catageroies);

        for (var i = 0; i < categories.length; i++) {
            var url = markers_icons[categories[i]].options.iconUrl;
            div.innerHTML += labels.push(
                '<i class="circle" style="background-image: url(' +
                url + ')"></i> ' +
                (categories[i] ? categories[i] : '+')
            );

        }
        div.innerHTML = labels.join('<br>');
        return div;
    };
    legend.addTo(map);
</script>
</body>
</html>